.contents
  = render partial: "shared/side_bar"
  .messagesbox
    .messagesbox__header
      .messagesbox__header__title
        %span{class: 'group-name', id: "#{@group.id}"} グループ名：
        = @group.name
      .messagesbox__header__members
        %span メンバー：
        - @group.users.each do |user|
          = user.name
      .messagesbox__header__button
        = link_to "編集", edit_group_path(@group)
    .messagesbox__body
      = render partial: "shared/message", collection: @messages, as: :message
    .messagesbox__footer
      .messagesbox__fotter__form
        = form_for [@group, @message] do |f|
          = f.hidden_field :user_id, value: current_user.id
          = f.text_field :content
          = f.submit "ボタン", class: "button"
          = f.file_field :image, class: "image"
